body {

}

.container {
    border: black solid 1px;
    border-radius: 10px;
    width: 100%;
}

.post-msg {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: rgb(55,131,246);
    border-radius: 10px;
}

#content {
     margin-left: 20px;
	 margin-right: 20px;
}
