{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Forum</h1>
  <p>Description of your forum and user guidelines go here.</p>
  
  <form action='/posted' method="post">
    <div class="form-group">
		
		<textarea class="form-control" id="message-input" rows="3" name="message"></textarea>
		<br/>
		<button type="submit" class="btn btn-primary">Post</button>
	</div>
  </form>
  
  <br/>
  
  <div class="container" style="border: black solid 1px; border-radius: 10px;">
	{% for post in posts %}
	<div class="row">
		<h3>{{post["sender"]}}</h3>
		<h6>{{post["time"]}}</h6>
		<br/>
		<p>{{post["message"]}}</p>
	</div>
	{% endfor %}
  </div>


{% endblock %}
