{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
<h1>The Forum of Existence</h1>
<p>A forum for the posting the essence of existence (anything and everything). But please be appropriate  We're watching  </p>

<form action='/posted' method="post">
<div class="form-group">
    <input type="hidden" name="replyID" value="{{reply_id}}">
    <input type="hidden" name="editID" value="{{edit_id}}">
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col-lg-11" style="padding-right: 0px;">
                <textarea class="form-control" id="message-input" rows="3" name="message" style="
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    ">{% if message %}{{message}}{% endif %}</textarea>
            </div>
            <div class="col-lg-1" style="padding-left: 0px;">
                <button type="submit" class="btn btn-{% if reply_id == "x" and edit_id == "x" %}primary{% elif edit_id != "x" %}warning{% else %}success{% endif %}" style="
                    height: 100%;
                    width:100%;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    ">{% if reply_id == "x" and edit_id == "x" %}Post{% elif edit_id != "x" %}Edit{% else %}Post Reply{% endif %}</button>
            </div>
        </div>
    </div>
</div>
</form>

<br/>

<div class="container-fluid">
    {% for post in posts %}
    <div class="row post-msg" style="
            margin-top: 5px;
            background-color: rgb(55,131,246);
            border-radius: 10px;
            padding: 0px;
            margin-left: {{post['level'] * 20}}px;
            color: white">

        <div class="col-lg-auto" style="
                border-right: dashed white 1px;
                padding-top: 5px;
                padding-bottom: 5px;">
            <h4>{{post['sender']}}</h4>
        	<h6>{{post['time']}}</h6>
            {% if "editTime" in post %}
                <h6>{{post['editTime']}}</h6>
            {% endif %}
        </div>

        <div class="col-lg" style="
                padding-top: 5px;
                padding-bottom: 5px;">
            <p>{{post['message']}}</p>
        </div>

        <div class="col-lg-1" style="padding-right: 0px;">
            <form action="/replyPost" method="post">
                <input type="hidden" name="msgID" value="{{post['id']}}">

                <div class="btn-group-vertical" style="width: 100%;">
                    <button type="submit" formaction="/replyPost" class="btn btn-success" style="border-top-left-radius: 0px;">Reply</button>

                    {% if session['user_data']['login'] == post['sender'] %}
                        <button type="submit" formaction="/editPost" class="btn btn-warning">Edit</button>
                    {% endif %}

                    {% if session['user_data']['login'] == post['sender'] or session['user_type'] == "admin" %}
                    <button type="submit" formaction="/deletePost" class="btn btn-danger" style="border-bottom-left-radius: 0px;">Delete</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
