{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
<h1>The Forum of Existence</h1>
<p>A forum for the posting on the essence of existence (anything and everything). But please be appropriate. We're watching</p>

<form action='/posted' method="post">
<div class="form-group">
    <input type="hidden" name="replyID" value="{{reply_id}}">
    <input type="hidden" name="editID" value="{{edit_id}}">
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col-lg-11" style="padding-right: 0px;">
                <textarea class="form-control" id="message-input" rows="3" name="message" style="
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    ">{% if message %}{{message}}{% endif %}</textarea>
            </div>
            <div class="col-lg-1" style="padding-left: 0px;">
                <button type="submit" class="btn btn-{% if reply_id == "x" and edit_id == "x" %}primary{% elif edit_id != "x" %}warning{% else %}success{% endif %}" style="
                    height: 100%;
                    width:100%;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    ">{% if reply_id == "x" and edit_id == "x" %}Post{% elif edit_id != "x" %}Edit{% else %}Post Reply{% endif %}</button>
            </div>
        </div>
    </div>
</div>
</form>

<br/>

<div class="container-fluid" id="posts-holder">
    {% for post in posts %}
    {{post|safe}}
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='refresh.js') }}" charset="utf-8"></script>

</script>

{% endblock %}
