<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Existence</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Main Forum</a>
      </li>
    </ul>

    {% if logged_in %}
    <span class="navbar-text mr-2">
      Github userid: {{ session['user_data']['login']}} {% if session['user_type'] == "admin" %}ADMIN{% endif %}
    </span>

    <form class="form-inline my-1 my-lg-0" action="/logout", method="get">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
    {% else %}
    <form class="form-inline my-2 my-lg-0" action="/login", method="get">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
    {% endif %}
  </div>
</nav>
